<div class="container">

    <form action="" name="formulariovehiculo">

        <div>
            <div class="input-field col s12">
                <input type="text" id="placa" name="placa" [(ngModel)]="formulariovehiculo.placa">
                <label for="placa">Placa</label>
            </div>
            <div>
                <select class="browser-default" id="tipo" name="tipovehiculo"
                    [(ngModel)]="formulariovehiculo.tipovehiculo">
                    <option value="" disabled selected>Selecione el tipo de vehiculo</option>
                    <option  id=0 value="CARRO">Carro</option>
                    <option id=1 value="MOTO">Moto</option>
                </select>
            </div>
            <div *ngIf="formulariovehiculo.tipovehiculo === 'MOTO'">
                <div class="input-field col s12">
                    <input type="number" id="cilindraje" name="cilindraje" [(ngModel)]="formulariovehiculo.cilindraje">
                    <label for="cilindraje">cilindraje</label>
                </div>
            </div>
            <br/>
            <a class="waves-effect waves-light btn-small"  id ="registro" name="Registrar" (click)="registrar()">Registrar</a>
        </div>
    </form>


    <app-lista-vehiculo></app-lista-vehiculo>
   

</div>