<table>
    <thead>
        <tr>
            <th>PLACA</th>
            <th>TIPO DE VEHICULO</th>
            <th>CILINDRAJE</th>
            <th>COBRO</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of listado">
            <td>{{item.placa}}</td>
            <td>{{item.tipovehiculo}}</td>
            <td>{{item.cilindraje}}</td>
            <td>{{item.valor}}</td>
            <td><button *ngIf="item.valor === null" class="waves-effect waves-light btn-small" name="btnSalir{{item.placa}}" (click)="salir(item.placa)" id="btnSalir{{item.placa}}">salida</button></td>
        </tr>
    </tbody>
</table>